$primary: #121212;

$secondary-15: #e6e6e6;
$secondary-30: #b3b3b3;
$secondary-70: #4d4d4d;
$secondary-90: #262626;

$neutral: #333333;

$accent: #ffa21f;
$secondary-accent: #2e6c7b;
$tertiary-accent: #80ef80;

$success: #278911;
$warning: #d24900;
$alert: #e72336;
$info: #0c9fb5;

$data-color-1: #8b5cd6;
$data-color-2: #2be3bb;
$data-color-3: #d69b5c;
$data-color-4: #e268b0;
$data-color-5: #6877e2;
$data-color-6: #9cd63d;
$data-color-7: #ba68e2;
$data-color-8: #45c4dd;
$data-color-9: #cf8172;
$data-color-10: #db4cdb;
$data-color-11: #429de3;
$data-color-12: #e0c931;

$data-colors-dark: (
  $data-color-1,
  $data-color-2,
  $data-color-3,
  $data-color-4,
  $data-color-5,
  $data-color-6,
  $data-color-7,
  $data-color-8,
  $data-color-9,
  $data-color-10,
  $data-color-11,
  $data-color-12
);
