@import '@/app/styles/_mixins.scss';
@import '@/app/styles/_variables.scss';

.fileInput {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
  }
}

.clearButton {
  @include regular-button;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
  }
}

.tableContainer {
  overflow-x: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $secondary-30;
}

.table {
  border-width: 1px;
  border-color: $secondary-90;
  margin-bottom: 1rem;
  color: $primary;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.tableTitle {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: $primary;
}

.tableHeaders {
  color: $primary;
  font-size: 1rem;
  line-height: 1.5rem;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryTable {
  border-width: 1px;
  border-color: $secondary-90;
  margin-bottom: 1rem;
  color: $primary;
  width: auto;
}
