@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
}

.statisticTitle {
  padding: 1rem;
}

.contentContainer {
  display: flex;
  margin-bottom: 0.5rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.iconColor {
  color: $info;
}
