@import '@/app/styles/_variables.scss';

.mainContainer {
  display: grid;
  min-height: 100%;
  place-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;

  @media (min-width: 640px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.loading {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: $secondary-15;

  @media (min-width: 640px) {
    font-size: 3rem;
    line-height: 1;
  }
}
