@import '@/app/styles/_mixins.scss';
@import '@/app/styles/_variables.scss';

$resolutionPayoutContainerHeight: 48px;

.mainContainer {
  @include main-container;
}

.headerText {
  @include header-text;
}

.columnBadges {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
  list-style-type: disc;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.downloadButton {
  @include regular-button;
  margin-bottom: 1rem;
}

.resolutionPayoutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  min-height: $resolutionPayoutContainerHeight;
}

.checkBox {
  cursor: pointer;
  margin-right: 1rem;
}

.checkBoxLabel {
  margin-right: 1rem;
}

.resolutionPayoutInput {
  width: 8rem;
  max-width: 20rem;
  margin-right: 1rem;
}

.resolutionPayoutDescription {
  max-width: 20rem;
  margin-right: 1rem;
}

.resolutionPayoutAddButton {
  @include regular-button;
}
