@import '@/app/styles/_mixins.scss';
@import '@/app/styles/_variables.scss';

.mainContainer {
  @include main-container;
}

.headerText {
  @include header-text;
}

.columnBadges {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
  list-style-type: disc;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.downloadButton {
  @include regular-button;

  @media (min-width: 768px) {
    margin-right: 1.25rem;
  }
}

.resolutionPayoutContainer {
  display: flex;
}

.resolutionPayoutCheckbox {
  cursor: pointer;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
}

.resolutionPayoutCheckboxLabel {
  margin-right: 0.5rem;
}

.resolutionPayoutInput {
  width: 6rem;
  max-width: 20rem;
  margin-right: 1.25rem;
}

.resolutionPayoutDescription {
  max-width: 20rem;
  margin-right: 1.25rem;
}

.resolutionPayoutAddButton {
  background-color: $secondary-70;
  margin-bottom: 1.25rem;

  &:hover {
    background-color: $secondary-70;
    color: $accent;
  }
}
