
/* 
@media all {
    .page-break {
        display: none;
    }
} */

@media print {
    html,
    body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .page-break {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.01cm;
        height: 100vh;
        page-break-before: always;
    }
}

@page {
    size: auto;
    margin: 0;
}