@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';

// Date Picker
.datePicker {
  height: 3.5rem;
  background-color: $neutral;
  padding: 0.75rem;
  color: $secondary-15;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $accent;
  }
  min-width: 250px;
}

// Data Buttons
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.dataButton {
  width: 9rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  background-color: $neutral;
  @include inactive-data-button;
}

.activeButton {
  @include active-data-button;
}

// Data Type Buttons
.dataTypeButtons {
  width: 9rem;
  background-color: $neutral;
}

.activeButton {
  @include active-data-button;
}

.inactiveButton {
  @include inactive-data-button;
}
